body{
    background-color : brown;
    font-family: Helvetica;
    text-align: justify;
}

#logo img{
    margin: auto;
    display: block;
    border: 1px solid black;
    box-shadow: 10px 5px 5px black;
    border-radius: 5px;
}

#diapo{
    margin: auto;
    display: block;
}

h1{
    text-align: center;
    color: rgb(194, 182, 92);
    font-size: 20px;
   background-color: rgb(0, 61, 0);
   padding: 3% 20%;
   margin: 3% 20%;
   border-color: black;
   border: 20px black;
   border-radius: 20px;
   padding: 10px 1%;
   
}


a:hover{
    /*hover désigne le survol par la souris.*/
    color: #da6335;
    font-weight: bold;
    margin: 5px;
}

table, td, tr{
    margin: 20px auto;
    border-collapse: collapse;
    border: 2px solid black;
    padding:5px;
}

td{
    width: 160px;
    text-align: center;
    background-color: #afeeee;
}

td:hover{
    /*hover désigne le survol par la souris.*/
    background-color: #d6c417;
    font-weight: bold;
}

#burgerimg{
    margin: auto;
    display: block;
    max-height: 200px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 7px 3px 3px black;
}

#texte{
    color: rgb(33, 138, 54);
    background-color: rgb(175, 153, 73);
    margin: 3px 20px;
    padding: 20px 30px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 7px 3px 3px black;
    height: 20%; 
    width: 90%;
    
}

#galette{
    color: black;
}

#imagechange{
    width: 50%;
    height: 20%;
    max-height: 300px;
    max-width: 200px;
    margin: 30px 100px;
    padding: 20px 50px;
}

#coucou{
   display: flex;
}

#titre{
    color: gold;
}

#b{
    color: green;
}

#c{
    color: aqua;
}

.article{
    display: flex;
    border-radius: 20px;
    
    
}

.bloc-1{
    text-align: center;
    height: 750px; 
    width: calc(100% / 3);
    margin: 1px 1px;
    padding: 1px 1px;
    font-size: 15px;
}

.bloc-2{
    text-align: center;
    height: 750px; 
    width: calc(100% / 3);
    margin: 1px 1px;
    padding: 1px  1px;
    font-size: 15px;
}

.bloc-3{
    text-align: center;
    height: 750px; 
    width: calc(100% / 3);
    margin: 1px 1px;
    padding: 1px 1px;
    font-size: 15px;
    
}
